.container__auth {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/assets/CatnDog.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.form_auth {
    background-color: transparent;
}

.container__auth .wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.container__auth .wrapper h1 {
    text-align: center;
    font-size: 36px;
}

.container__auth .wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.container__auth .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    outline: none;

    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.container__auth .input-box input::placeholder {
    color: #fff;
}

.container__auth .input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
}
.container__auth .wrapper .remember-forgot {
    display: flex;
    font-size: 14.5px;
    margin: -15px 0 15px;
    justify-content: end;
}

.container__auth .remember-forgot a {
    color: #fff;
    text-decoration: none;
}
.container__auth .remember-forgot a:hover {
    text-decoration: underline;
}
.container__auth .wrapper .login-register {
    font-size: 14.5px;
    text-align: center;
}
.container__auth .login-register a {
    color: #fff;
    text-decoration: none;
}
.container__auth .login-register a:hover {
    text-decoration: underline;
}
.container__auth .wrapper button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}
.container__auth .wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 15px;
}

.container__auth .register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.container__auth .register-link p a:hover {
    text-decoration: underline;
}
